<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='minimal-table.css') }}">
        <title>Status - Housemon</title>
    </head>
    <body>
        <h3>Status - Housemon</h3>
        <table>
            {% for location, temperature in temperatures.items() %}
                <tr>
                    <td>{{ location }}</td>
                    <td>{{ temperature }}</td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <table>
            <tr>
                <td>UPS Status</td>
                <td>{{ups_status}}</td>
            </tr>
            <tr>
                <td>UPS Charge</td>
                <td>{{ups_charge}}</td>    
            </tr>  
            <tr>
                <td>UPS Runtime</td>
                <td>{{ups_runtime}}</td>    
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <td>Last OB</td>
                <td>{{ups_lastOB}}</td>
            </tr>
            <tr>
                <td>Last OL</td>
                <td>{{ups_lastOL}}</td>
            </tr>
        </table>

        <p style="font-size:80%;">Last updated: {{update_time}} </p>
        <p style="font-size:80%;">Housemon Ver. {{version}}</p>
    </body>
</html>